<h2>Search players</h2>
<form action="/players" method="GET">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= searchOptions.name%>" />
  <label for="country">Country</label>
  <input type="text" name="country" value="<%= searchOptions.country%>" />
  <input type="submit" value="Search" />
</form>
<br />
<% players.forEach(player => { %>
<div>
  <img
    height="100px"
    width="80px"
    style="object-fit: cover"
    src="<%= player.picturePath %>"
  />
  <%= player.name %> <%= player.birthdate.toISOString().slice(0, 10) %> <%=
  player.country %>
  <a href="/players/<%= player.id %>">View</a>
  <a href="/players/<%= player.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/players/${player.id}`}) %>
</div>
<% }) %>
