<a href="/matches/<%= match.id %>" class="matchInfoView">
  <div class="matchBox">
    <div class="matchInfo">
      <div class="matchPicture">
        <img
          height="80px"
          width="64px"
          style="object-fit: cover"
          src="<%= match.player1?.picturePath %>"
        />
        <div class="playerName"><%= match.player1?.name %></div>
      </div>
      <div class="matchPicture">
        <img
          height="80px"
          width="64px"
          style="object-fit: cover"
          src="<%= match.player2?.picturePath %>"
        />
        <div class="playerName"><%= match.player2?.name %></div>
      </div>
    </div>
    <div class="tournamentBox"><%= match.tournament.name %></div>
    <div class="manageMatch">
      <%- include("../partials/editForm.ejs", {path:
      `/matches/${match.id}/edit`}) %> <%- include('../partials/deleteForm', {
      url: `/matches/${match.id}`}) %>
    </div>
  </div>
</a>
