<p>
  <label for="player1">First Player</label>
  <input type="text" name="player1" value="<%= match.player1 %>" />
</p>
<p>
  <label for="player2">Second Player</label>
  <input type="text" name="player2" value="<%= match.player2 %>" />
</p>
<p>
  <label for="odds1">Odds for First Player</label>
  <input type="number" step=".01" name="odds1" value="<%= match.odds1 %>" />
</p>
<p>
  <label for="odds2">Odds for Second Player</label>
  <input type="number" step=".01" name="odds2" value="<%= match.odds2 %>" />
</p>
<p>
  <label for="winner">Winner</label>
  <input type="text" name="winner" value="<%= match.winner %>" />
</p>
<p>
  <label for="date">Date</label>
  <input type="date" name="date" value="<%= match.date %>" />
</p>
<p>
  <label for="tournament">Tournament</label>
  <input type="text" name="tournament" value="<%= match.tournament %>" />
</p>
