<h2>Search matches</h2>
<form action="/matches" method="GET">
  <label for="player1">First Player</label>
  <input type="text" name="player1" value="<%= searchOptions.player1%>" />
  <label for="player2">Second Player</label>
  <input type="text" name="player2" value="<%= searchOptions.player2%>" />
  <input type="submit" value="Search" />
</form>
<br />
<% matches.forEach(match => { %>
<div>
  <%= match.playerName1 %>
  <%= match.playerName2 %>
  <%= match.odds1 %>
  <%= match.odds2 %>
  <%= match.winnerName %>
  <%= match.date.toISOString().slice(0, 10) %>
  <%= match.tournamentName %>
  <%= match.biorythmPhysical1 %>
  <%= match.biorythmEmotional1 %>
  <%= match.biorythmPhysical2 %>
  <%= match.biorythmEmotional2 %>
</div>
<% }) %>
