<h2>
  TOURNAMENT:
  <a
    style="text-decoration: underline; color: black"
    href="/tournaments/<%= match.tournament.id %>"
  >
    <%=match.tournament.name %> (<%= match.tournament.tournamentRank %>)</a
  >
</h2>
<h3>
  <span id="matchDate"><%= match.date.toDateString() %></span>, surface: <%
  if(match.tournament.surface === 'Grass') { %>
  <span style="color: #00492e"><%= match.tournament.surface %></span> <% } else
  if (match.tournament.surface === 'Clay') { %>
  <span style="color: #d7510f"><%= match.tournament.surface %></span> <% } else
  { %> <span style="color: #407db1"><%= match.tournament.surface %></span> <% }
  %>
</h3>
<div class="matchWrapper">
  <div class="playersBox">
    <div class="matchPlayer">
      <div>
        <a href="/players/<%= match.player1?.id %>"
          ><img
            height="220px"
            width="176px"
            style="object-fit: cover"
            src="<%= match.player1?.picturePath %>"
        /></a>
      </div>
      <div>
        <a href="/players/<%= match.player1?.id %>"
          ><%= match.player1?.name %></a
        >
        (<%= match.player1?.country %>)
      </div>
    </div>
    <h1>VS</h1>
    <div class="matchPlayer">
      <div>
        <a href="/players/<%= match.player2?.id %>"
          ><img
            height="220px"
            width="176px"
            style="object-fit: cover"
            src="<%= match.player2?.picturePath %>"
        /></a>
      </div>
      <div>
        <a href="/players/<%= match.player2?.id %>"
          ><%= match.player2?.name %></a
        >
        (<%= match.player2?.country %>)
      </div>
    </div>
  </div>
  <div class="statsBox">
    <div>
      <table>
        <tbody>
          <tr>
            <td>RESULT</td>
            <td><%= match.result1 %></td>
            <td><%= match.result2 %></td>
          </tr>
          <tr>
            <td>ODDS</td>
            <td><%= match.odds1 %></td>
            <td><%= match.odds2 %></td>
          </tr>
          <tr>
            <td>PHYSICAL BIORYTHM</td>
            <td><%= match.biorythmPhysical1 %></td>
            <td><%= match.biorythmPhysical2 %></td>
          </tr>
          <tr>
            <td>EMOTIONAL BIORYTHM</td>
            <td><%= match.biorythmEmotional1 %></td>
            <td><%= match.biorythmEmotional2 %></td>
          </tr>
          <tr>
            <td>INTELLECTUAL BIORYTHM</td>
            <td><%= match.biorythmIntelectual1 %></td>
            <td><%= match.biorythmIntelectual2 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="matchesEdit">
  <div>
    <%- include("../partials/editForm.ejs", {path:
    `/matches/${match.id}/edit`})%>
  </div>
  <div>
    <%- include('../partials/deleteForm', { url: `/matches/${match.id}`}) %>
  </div>
  <div>
    <a class="backButton" href="/matches"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>
  </div>
</div>
<div class="headToHead">
  <h2>H2H</h2>
  <% if (!headToHead) { %>
  <h3>No matches played between these players</h3>
  <% } else {%>
  <h3>Matches played: <span><%= headToHead.length %></span></h3>
  <% headToHead.forEach(match => { %> <%- include("../partials/showMatch.ejs",
  {match: match}) %> <% }) %> <% } %>
</div>
