<p>
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= tournament.name%>" />
</p>
<p>
  <label for="location">Location:</label>
  <input type="text" name="location" value="<%= tournament.location%>" />
</p>
<p>
  <label for="tournamentRank">Tournament Rank:</label>
  <input type="number" name="tournamentRank" min="125" max="2000" step="5" value="<%= tournament.tournamentRank %>"/>
</p>
<p>
  <label for="surface">Surface:</label>
  <select name="surface">
    <option value="Hard" <%= tournament.surface === 'Hard' ? 'selected' : '' %>>Hard</option>
    <option value="Clay" <%= tournament.surface === 'Clay' ? 'selected' : '' %>>Clay</option>
    <option value="Grass" <%= tournament.surface === 'Grass' ? 'selected' : '' %>>Grass</option>
  </select>
</p>