<h2>Search stats</h2>
<br />
<p>All matches: <%= stats.allMatches %></p>
<p>
  Matches where players with better physical biorythm win: <%=
  stats.biorythmPhysical %>
</p>
<p>Percentage: <%= (stats.biorythmPhysical / stats.allMatches) * 100 %>%</p>
<p>
  Matches where players with better emotional biorythm win: <%=
  stats.biorythmEmotional %>
</p>
<p>Percentage: <%= (stats.biorythmEmotional / stats.allMatches) * 100 %>%</p>
<p>
  Matches where players with better intellectual biorythm win: <%=
  stats.biorythmIntellectual %>
</p>
<p>Percentage: <%= (stats.biorythmIntellectual / stats.allMatches) * 100 %>%</p>
<p>Matches with predicted winner: <%= stats.predictions %></p>
<p>Percentage: <%= (stats.correctPredictions / stats.predictions) * 100 %>%</p>
